{% extends 'upload/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="image-grid">
    {% for relation in request.user.user_docs.all %}
    <div class="image-item">
        <p>ID: {{ relation.document.id }}</p>
        <p>Размер: {{ relation.document.size }} байт</p>
        <img src="{{ MEDIA_URL }}{{ relation.document.file_path }}" alt="Документ" width="200">
        <a href="{% url 'document_analyse' relation.document.id %}" class="btn btn-primary">Проанализировать</a>
        <a href="{% url 'get_text' relation.document.id %}" class="btn btn-primary">Посмотреть текст</a>
    </div>
    {% empty %}
    <p>Вы еще не загружали документы</p>
    {% endfor %}
</div>
{% endblock %}